
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif !important;
}

.btn .btn-primary {
	font-family: 'Playfair Display', serif !important;
	color: aqua!important;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;
    display: block;
}

.selectedDrinkId{
    text-align: center;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.backButtonDiv{
	text-align: right;
}

.currentDrinkImageDiv{
    display: inline-block;
}

.currentDrinkImage{
    width: 100%;
    height:auto;
    text-align: center;
}

.favoritesButtonDiv{
	text-align: center;
}

.nav-link:hover {
	cursor: pointer;
}

.carousel-inner {
	height: 200px;
}

#drinkslist-cont {
	height: 450px;
}
